.mr-our-clients-section {
    background-color: var(--black-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 80px;
    padding: 0px 162px;
    /* margin: 55px 0px; */

    /* our-clients-section for laptop size */
    @media (max-width:1440px) {
        gap: 60px;
        width: 100%;
        padding: 0px 80px;
        /* margin: 45px 0px; */
    }

    /* our-clients-section for mobile size */
    @media (max-width:992px) {
        gap: 40px;
        width: 100%;
        padding: 0px 16px;
        /* margin: 42.5px 0px; */
    }
}

/* ----------------------------------------- */
.mr-cards-with-slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 50px;

    /* cards-with-slider for laptop size */
    @media (max-width:1440px) {
        gap: 40px;
        width: 100%;
    }


    /* cards-with-slider for mobile size */
    @media (max-width:992px) {
        width: 100%;
        gap: 30px;
    }
}

/* ----------------------------------------- */

.mr-our-clients-cards-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 50px;

    /* cards-section for laptop size */
    @media (max-width:1440px) {
        width: 100%;
        gap: 40px;
    }

    /* cards-section for mobile size */
    @media (max-width:992px) {
        flex-direction: column;
        gap: 6px;
        width: 100%;

        /*select the second .card elements to hide them*/
        .mr-client-card:nth-child(2) {
            display: none !important;
        }
    }
}

/* ----------------------------------------- */