.mr-outer-border,
.mr-inner-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.mr-outer-border::before,
.mr-inner-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 1.5px;

    background: conic-gradient(from 0deg, transparent 20%, #A685FA 100%);

    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.mr-outer-border {
    padding: 12px;

    @media (max-width: 1440px) {
        padding: 10px;
    }

    @media (max-width: 576px) {
        padding: 8px;
    }
}

.mr-inner-border {
    padding: 14px;

    @media (max-width: 1440px) {
        padding: 10px;
    }

    @media (max-width: 576px) {
        padding: 8px;
    }
}

.mr-inner-border::before {
    transform: rotate(180deg);
}

.mr-icon {
    width: 34px;
    height: 34px;
    object-fit: contain;

    @media (max-width: 1440px) {
        width: 24px;
        height: 24px;
    }

    @media (max-width: 576px) {
        width: 20px;
        height: 20px;
    }
}