.LS-footer-container {
  box-sizing: border-box;
  width: 100%;
  background-color:#010101;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* القسم العلوي */
.LS-footer-top-section {
  display: flex;
  justify-content: space-between;
  padding: 100px 162px;
  gap: 80px;
}

/* حاوية اللوغو والاشتراك */
.LS-footer-brand-container {
  max-width: 538px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.LS-footer-logo-box{
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  gap: 10px;
}

.LS-footer-input-wrapper {
  max-width: 100%;
  display: flex;
  padding: 18px 24px;
  border: 1px solid #262626;
  border-radius: 12px;
  gap: 10px;
}
.LS-footer-input-wrapper img {
  width: 24px;
  height: 24px;
}

.LS-footer-input-wrapper input {
  background: none;
  border: none;
  color: white;
  outline: none;
  width: 301px;
}

.LS-footer-input-wrapper input::placeholder {
  color: #999999;
}

.LS-footer-send-btn {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  .img {
    width: 30px;
    height: 30px;
  }
}

/* حاوية الأعمدة */
.LS-footer-links-container {
  max-width: 978px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.LS-footer-nav-column {
  display: flex;
  flex-direction: column;
  gap: 30px; 
}

.LS-footer-column-title h5 {
  color: #999999;
  font-weight: 500px;
  font-size: 20px;
  margin: 0;
  white-space: nowrap;
}

.LS-footer-column-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.LS-footer-column-links ul li {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}
.LS-footer-column-links ul li a {
  text-decoration: none;
  color: inherit;
}
.LS-footer-column-links ul li a:hover {
  color: #703bf7;
  transition: 0.3s;
}

/* القسم السفلي */
.LS-footer-bottom-section {
  background: #1A1A1A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 162px;
  border-top: 1px solid #141414;
}
.LS-footer-legal-box {
  display: flex;
  padding: 10px 0;
  gap: 38px;
  color: white;
}
.LS-footer-legal-box p a {
  text-decoration: none !important;
  color: inherit;
}
.LS-footer-legal-box p a:hover {
  color: #703bf7;
  transition: 0.3s;
}

.LS-footer-social-box {
  display: flex;
  padding: 10px 0;
  gap: 10px;
}

.LS-social-item {
  width: 52px;
  height: 52px;
  background: #141414;
  border-radius: 58px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Responsive */
@media (max-width: 1440px) {
  .LS-footer-top-section {
    padding: 80px;
    gap: 80px;
  }
  .LS-footer-brand-container {
    width: 326px;
    gap: 24px;
  }
  .LS-footer-input-wrapper {
    max-width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    gap: 6px;
  }
  .LS-footer-input-wrapper img {
    width: 20px;
    height: 20px;
    }

  .LS-footer-input-wrapper input {
    width: 209px;
  }
  .LS-footer-send-btn img {
    width: 24px;
    width: 24px;
    height: 24px;
  }
/* حاوية الأعمدة */
  .LS-footer-nav-column {
    gap: 24px;
  }
  .LS-footer-column-title h5 {
  font-size: 18px;
  }
  .LS-footer-column-links ul {
    gap: 16px;
  }

  .LS-footer-bottom-section {
    padding: 12px 80px;
  }

.LS-footer-legal-box {
  gap: 20px;
}

.LS-footer-social-box {
  gap: 8px;
}
.LS-social-item {
  width: 40px;
  height: 40px;
  padding: 10px;
}
}

/* للموبايل */
@media (max-width: 576px) {
  .LS-footer-top-section {
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 16px;
    gap: 50px;
  }
  .LS-footer-brand-container {
    width: 357px;
    gap: 20px;
  }
  .LS-footer-input-wrapper {
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    gap: 6px;
  }

    .LS-footer-input-wrapper img {
      width: 20px;
      height: 20px;
    }
  .LS-footer-input-wrapper input {
    width: 261px;
  }
  .LS-footer-send-btn img {
    width: 24px;
    height: 24px;
  
}
  .LS-footer-links-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
  }

  /* حاوية الأعمدة */
  .LS-footer-nav-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }
  .LS-footer-column-title h5 {
    font-size: 16px;
  }
  .LS-footer-column-links ul {
    gap: 8px;
  }
  
  /* القسم السفلي */
  .LS-footer-bottom-section {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 20px 16px;
    gap: 20px;
  }
  .LS-footer-legal-box {
    flex-direction: column;
    gap: 10px;
  }
  .LS-footer-social-box {
    gap: 8px;
  }
  .LS-social-item {
  width: 60px;
  height: 60px;
  padding: 20px;
}
}

