 .mr-section-header-stars {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     width: 100%;
     gap: 20px;

     /* section-header-stars for laptop size */
     @media (max-width:1440px) {
         gap: 16px;
     }

     /* section-header-stars for mobile size */
     @media (max-width:576px) {
         gap: 12px;
     }
 }

 .mr-star-bg {
     width: 30px;
     height: 30px;

     /* star-bg for laptop size */
     @media (max-width:1440px) {
         width: 24px;
         height: 24px;
     }

     /* star-bg for mobile size */
     @media (max-width:576px) {
         width: 20px;
         height: 20px;
     }
 }

 .mr-star-md {
     width: 18px;
     height: 18px;

     /* star-md for laptop size */
     @media (max-width:1440px) {
         width: 14.4px;
         height: 14.4px;
     }

     /* star-md for mobile size */
     @media (max-width:576px) {
         width: 12px;
         height: 12px;
     }
 }

 .mr-star-sm {
     width: 8.4px;
     height: 8.4px;

     /* star-sm for laptop size */
     @media (max-width:1440px) {
         width: 6.72px;
         height: 6.72px;
     }

     /* star-sm for mobile size */
     @media (max-width:576px) {
         width: 5.6px;
         height: 5.6px;
     }
 }