.mr-our-values-section {
    background-color: var(--black-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 80px;
    padding: 0px 162px;
    /* margin: 55px 0px; */

    .mr-section-header {
        width: 33.3% !important;
    }

    /* .our-values-section for laptop size */
    @media (max-width:1440px) {
        gap: 60px;
        width: 100%;
        padding: 0px 80px;
        /* margin: 45px 0px; */

        .mr-section-header {
            width: 100% !important;
        }
    }

    /* .our-values-section for mobile size */
    @media (max-width:992px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 100%;
        padding: 0px 16px;
        /* margin: 42.5px 0px; */

        .mr-section-header {
            width: 100% !important;
        }
    }
}

/* ----------------------------------------- */

/*cards-row*/
.mr-cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-starts;
    gap: 30px;
    border-radius: 12px;
    background-color: hsla(0, 0%, 8%, 1);
    width: 100%;

    /* value-card for laptop size */
    @media (max-width: 1440px) {
        gap: 24px;
    }

    /* value-card for mobile size */
    @media (max-width: 992px) {
        flex-direction: column;
        gap: 20px;
    }
}

/* ------------------------------------------------ */

/*rows-container*/
.mr-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 66.6%;
    gap: 30px;
    padding: 60px;
    border-radius: 12px;
    background-color: hsla(0, 0%, 8%, 1);
    border: 1px solid hsla(0, 0%, 15%, 1);
    box-shadow: 0px 0px 0px 10px hsla(0, 0%, 10%, 1);


    /* rows-container for laptop size */
    @media (max-width: 1440px) {
        gap: 24px;
        padding: 50px;
        width: 100%;
        box-shadow: 0px 0px 0px 8px hsla(0, 0%, 10%, 1);
    }

    /* rows-container for mobile size */
    @media (max-width: 992px) {
        gap: 20px;
        padding: 24px;
        width: 100%;
        box-shadow: 0px 0px 0px 6px hsla(0, 0%, 10%, 1);
    }
}

.mr-h-divider {
    border: none;
    border-top: 1px solid hsla(0, 0%, 15%, 1);
    width: 100%;
}

.mr-v-divider {
    border-left: 1px solid hsla(0, 0%, 15%, 1);
    height: 148px;
    display: inline;
    vertical-align: middle;

    @media (max-width: 992px) {
        border-left: 1px solid hsla(0, 0%, 15%, 1);
        transform: rotate(90deg);
        height: 100%;
    }
}