.card-hero-container {
    position: relative;
    background-color: #1a1a1a;
    padding: 40px 24px;
    border-radius: 20px;
    border: 1px solid #767474a4;
    width: 365px;
    text-align: center;
        display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
}

.arrow-icon {
    width: 24px;
    height: 24px;
}

.card-main-icon img {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}

.card-title {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
.icon-outer-ring {
    width: 60px;
    height: 60px;
    border: 1px solid #262626; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.icon-inner-circle {
    width: 44px;
    height: 44px;
    background: radial-gradient(circle, #2f2e2e 0%, #1A1A1A 100%);
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-main-icon {
    width: 24px;
    height: 24px;
}


@media (max-width: 992px) {
   .card-title{ color: white;
    font-size: 12px;
}}