.cards-icon {
    display: flex;
    box-shadow: 0 0 0px 10px #262626;

}

.card-hero-container {
    width: 455px;
    height: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    border: 1px solid #262626;
    padding: 40px 20px;
    border-radius: 20px;
    background-color: #1A1A1A;
}

.arrow-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
}

.arrow-icon {
    width: 34px;
}

.card-title {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.circle1 {
    box-shadow: -4px -3px 0 #703BF7;
    border-radius: 50%;
    width: 82px;
    height: 82px;
    margin-bottom: 20px;
}

.outer-circle {
    width: 82px;
    height: 82px;
    box-shadow: 5px 3px 0 #703BF7;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-main-icon {
    width: 34px;
    margin: 0 auto;
}


@media (max-width: 992px) {
    .card-title {
        color: white;
        font-size: 12px;
    }
}

@media (max-width: 390px) {
    .cards-icon {
        box-shadow: inset 1px 0px 1px 10px #262626;
    }
}