.mr-client-card {
    background-color: var(--black-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    padding: 50px;
    gap: 40px;

    border: 1px solid var(--grey-15);
    border-radius: 12px;

    box-shadow: 0px 0px 0px 8px var(--shadow-black);



    /* client-card for laptop size */
    @media(max-width: 1440px) {
        padding: 40px;
        gap: 30px;
    }

    /* client-card for mobile size */
    @media(max-width: 576px) {
        padding: 24px;
        gap: 30px;
        border-radius: 10px;
    }
}

.mr-client-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;

    /* card-header for laptop size */
    @media(max-width: 1440px) {
        gap: 20px;
    }

    /* card-header for mobile size */
    @media(max-width: 576px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
}

.mr-client-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;

    /* card-info for laptop size */
    @media(max-width: 1440px) {
        gap: 20px;
    }

    /* card-info for mobile size */
    @media(max-width: 576px) {}
}

.mr-client-info-i {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    gap: 6px;

    .mr-client-card-minititle {
        color: var(--gray-60);
        text-align: left;
    }

    .subheading-1 {
        color: var(--white1);
        text-align: left;
    }

    /* client-info for laptop size */
    @media(max-width: 1440px) {
        gap: 4px;
    }

    /* client-info for mobile size */
    @media(max-width: 576px) {
        gap: 2px;
    }
}

.mr-client-info-ii {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    gap: 8px;

    .subheading-3 {
        color:  var(--white1);
        text-align: left;
    }

    /* client-info for laptop size */
    @media(max-width: 1440px) {
        gap: 6px;


    }

    /* client-info for mobile size */
    @media(max-width: 576px) {
        gap: 4px;

    }
}

.mr-client-info-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    width: 100%;


    .mr-client-icon {
        width: 24px;
        height: 24px;
    }

    .mr-client-card-minititle {
        color:  var(--gray-60);
        text-align: left;
    }


    /* info-title for laptop size */
    @media(max-width: 1440px) {
        gap: 4px;

        .mr-client-card-icon {
            width: 20px;
            height: 20px;
        }
    }

    /* info-title for mobile size */
    @media(max-width: 576px) {
        gap: 2px;

        .mr-client-card-icon {
            width: 18px;
            height: 18px;
        }
    }
}

.mr-client-card-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    padding: 30px;
    gap: 14px;

    border: 1px solid hsla(0, 0%, 15%, 1);
    border-radius: 12px;

    .mr-client-card-minititle {
        color:  var(--gray-60);
        text-align: left;
    }

    .body {
        color: var(--white1);
    }

    /* card-footer for laptop size */
    @media(max-width: 1440px) {
        padding: 24px;
        gap: 10px;
    }

    /* card-footer for mobile size */
    @media(max-width: 576px) {
        padding: 20px;
        gap: 8px;
    }
}

.is-selected .mr-client-card {
    background-color: var(--grey-10);
    /* border: 4px solid #703bf7; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    padding: 50px;
    gap: 40px;

    border: 1px solid var(--grey-15);
    border-radius: 12px;

    box-shadow: 0px 0px 0px 8px var(--shadow-black);



    /* client-card for laptop size */
    @media(max-width: 1440px) {
        padding: 40px;
        gap: 30px;
    }

    /* client-card for mobile size */
    @media(max-width: 576px) {
        padding: 24px;
        gap: 30px;
        border-radius: 10px;
    }
}