.mr-circle-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;

    background-color: var(--black-primary);
    border: 1px solid var(--purple-60);

    border-radius: 52px;

    .mr-icon {
        width: 34px;
        height: 34px;
    }

    @media (max-width: 1440px) {
        padding: 16px;

        .mr-icon {
            width: 28px;
            height: 28px;
        }
    }

    @media (max-width: 992px) {
        padding: 14px;

        .mr-icon {
            width: 24px;
            height: 24px;
        }
    }
}