.LS-valuation-container {
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 80px;
  background-color: var( --black-primary); 
}
.LS-valuation-intro {
  max-width: 100%;
  color: var(--white1);
  padding-right: 300px;
  gap: 14px;
}
.LS-valuation-intro p {
  color: var( --gray-60);
}

/* شبكة القسم الثاني */
.LS-valuation-content-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.LS-top-cards-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 30px;
}
.LS-bottom-content-row {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 30px;
}
.LS-valuation-card {
  border-radius: 12px;
  border: 1px solid #262626; 
  padding: 50px;
  gap: 30px;
}
.LS-card-header{
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  gap: 20px;
}
.LS-card-header h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LS-icon-circle-container{
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #A685FA;
  border-image-source: linear-gradient(130.5deg, #A685FA -3.27%, rgba(166, 133, 250, 0) 30.09%),
  linear-gradient(305.31deg, #A685FA -20.93%, rgba(166, 133, 250, 0) 37.94%); 
  gap: 10px;
  padding: 14px;
  position: relative;
  flex-shrink: 0;
}

.LS-card-icon{
  width: 25.5px;
  height: 28px;
  display: block;
  margin: 0;
  z-index: 2;
}
.LS-valuation-card h3 {
  color: var( --white1);
}
.LS-valuation-card p {
  color: var( --gray-60);
}

/* لوحة الـ Unlock مع الخلفية المزخرفة */
.LS-unlock-cta-box {
  position: relative;
  background-color: #1a1a1a;
  border-radius: 12px;
  border: 1px solid #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 50px;
  gap: 30px;
}
.LS-unlock-cta-box::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), 
    url('/assets/img/Services/Services Page.jpg');
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  background-color:  rgba(255, 255, 255, 0.05);
  opacity:0.5;
  z-index: 1;
}
.LS-cta-header-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  
}
.sub-heading {
  font-weight: 700;
  font-size: 30px;
  color: white;
}
.LS-learn-more-btn {
  position: relative;
  z-index: 3;
  border-radius: 10px;
  border: 1px solid #262626;
  background-color: #141414; 
  color: white;
  padding: 18px 24px;
  gap: 8px;
  cursor: pointer;
  white-space: nowrap;
}
.LS-cta-description-row{
  color: var( --gray-60);
}
.LS-cta-header-row , .LS-cta-description-row {
  position: relative;
  z-index: 2;

}
/* Responsive */
/* التنسيق للابتوب (1440px) */
@media (max-width: 1440px) {
  .LS-valuation-container {
    gap: 60px;
  }
  .LS-valuation-intro {
    padding-right:250px;
    gap: 10px;
  }
/* شبكة القسم الثاني */
  .LS-valuation-content-grid {
    gap: 20px;
  }
  .LS-top-cards-row {
    gap: 20px;
  }
  .LS-bottom-content-row {
    gap: 20px;
  }
  .LS-valuation-card {
    border-radius: 10px;
    padding: 40px;
    gap: 20px;
  }
  .LS-card-header{
    padding-bottom: 20px;
    gap: 16px;
  }
  .LS-icon-circle-container{
    width: 44px;
    height: 44px;
    padding: 10px;
  }
  .LS-card-icon{
    width: 24px;
    height: 24px;
  }
/* لوحة الـ Unlock مع الخلفية المزخرفة */
  .LS-unlock-cta-box {
    border-radius: 10px;
    padding: 40px;
    gap: 20px;
  }
  .sub-heading {
    font-size: 24px;
  }
  .LS-learn-more-btn {
    border-radius: 8px;
    padding: 14px 20px;
  }
}
/* ريسبونسف عند (992px) */
@media (max-width: 992px){
  .LS-valuation-container {
    padding: 0 40px;
  }
  .LS-bottom-content-row {
    grid-template-columns: 1fr;
  }
  .LS-cta-header-row{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
/* ريسبونسف للموبايل */
@media (max-width: 576px){
  .LS-top-cards-row, .LS-bottom-content-row  {
    grid-template-columns: 1fr;
  }
  .LS-valuation-container {
    gap: 4px;
    padding: 17px;
  }
  .LS-valuation-intro {
    padding-right:0px;
    gap: 8px;
  }
/* شبكة القسم الثاني */
  .LS-valuation-content-grid {
    gap: 20px;
  }
  .LS-valuation-card {
    border-radius: 10px;
    padding: 24px;
    gap: 16px;
  }
  .LS-card-header{
    padding-bottom: 16px;
    gap: 10px;
  }
  .LS-icon-circle-container{
    width: 36px;
    height: 36px;
    padding: 8px;
  }

  .LS-card-icon{
    width: 20px;
    height: 20px;
  }
/* لوحة الـ Unlock مع الخلفية المزخرفة */
  .LS-unlock-cta-box {
    border-radius: 10px;
    padding: 24px;
    gap: 20px;
  }
  .LS-cta-header-row {
    gap: 20px;
    flex-direction: column;
  }
  .sub-heading{
    font-size: 20px;
  }
  .LS-learn-more-btn {
    width: 100%;
    border-radius: 8px;
    padding: 14px 20px;
    gap: 8px;
  }
}