.mr-section-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 14px;

    .stars {
        position: absolute;
        top: -30px;
        left: -40px;
        z-index: 10;
    }

    .section-title {
        width: 100%;
        color: var(--white1);
        text-align: left;
    }

    .body {
        width: 100%;
        color: var(--gray-60);
        text-align: left;
    }


    /* section-header for laptop size */
    @media (max-width:1440px) {
        gap: 10px;
        width: 100%;

        .stars {
            top: -20px;
            left: -30px;
        }
    }

    /* section-header for mobile size */
    @media (max-width:992px) {
        gap: 8px;
        width: 100%;

        .stars {
            top: -10px;
            left: -20px;
        }
    }
}