.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    max-width: 512px;
    padding: 50px;
    border: 1px solid var(--grey-15);
    border-radius: 12px;

    h2{
        font-weight: 600;
        font-size: 24px ;
        line-height: 150%;
        color: #FFFFFF;
    }
    p{
        color: var(--gray-60);
    }
}




@media (max-width: 1440px) {
    .card{
        max-width: 412px;
        padding: 40px;
        gap: 24px;
    
        h2{
            font-size: 20px ;
        }
    }
}




@media (max-width: 390px) {
    .card{
        padding: 30px;
        gap: 20px;

        h2{
            font-size: 18px;
        }
    }
}
