.mr-primary-button,
.mr-secondary-button,
.mr-contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 18px 24px;
    border-radius: 10px;

    color: var(--white1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 1440px) {

    .mr-primary-button,
    .mr-secondary-button,
    .mr-contact-button {
        padding: 18px 20px;
        border-radius: 8px;
        flex-wrap: nowrap;
    }
}

@media (max-width: 992px) {

    .mr-primary-button,
    .mr-secondary-button,
    .mr-contact-button {
        padding: 18px 20px;
        border-radius: 8px;
        flex-wrap: nowrap;
    }
}

.mr-primary-button {
    background: var(--purple-60);
    border: 1px solid transparent;
}

.mr-primary-button:hover {
    background: #41228f;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.mr-secondary-button {
    background: var(--grey-10);
    border: 1px solid var(--grey-15);
}

.mr-secondary-button:hover {
    background: var(--black-primary);
    border-color: var(--grey-15);
}


.mr-contact-button {
    background: var(--black-primary);
    border: 1px solid var(--grey-15);
    padding: 16px 24px !important;

    @media(max-width:1440px) {
        padding: 14px 20px !important;
    }
}

.mr-contact-button:hover {
    background: var(--grey-10);
    border: 1px solid var(--grey-15);
}

.mr-contact-button:focus {
    background: var(--purple-60);
    border-color: var(--purple-60);
}