.arrowsIcons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
        width: 58px;
        height: 58;
        padding:14px 14px 14px 32px;
        border: 1px solid var(--grey-15);
        border-radius: 50%;

        img{
            width: 30px;
        }
        &:hover {
            background-color: var(--grey-10);

            &:hover img {
                background-color: var(--grey-10);
            }
        }
    }
}

@media (max-width: 1440px) {
    .arrowsIcons {
        button {
            padding: 14px 22px;
        }
    }
}

@media (max-width: 390px) {
    .arrowsIcons {
        justify-content: space-between;
    }
}