.mr-featured-properties-section {
    background-color: var(--black-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 80px;
    padding: 0px 162px;
    /* margin: 55px 0px; */

    /* featured-properties-section for laptop size */
    @media (max-width:1440px) {
        gap: 60px;
        width: 100%;
        padding: 0px 80px;
        /* margin: 45px 0px; */
    }

    /* featured-properties-section for mobile size */
    @media (max-width:992px) {
        gap: 40px;
        width: 100%;
        padding: 0px 16px;
        /* margin: 42.5px 0px; */
    }
}

/* ----------------------------------------- */

.mr-featured-properties-cards-with-slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 50px;

    /* cards-with-slider for laptop size */
    @media (max-width:1440px) {
        gap: 40px;
        width: 100%;
    }

    /* cards-with-slider for mobile size */
    @media (max-width:992px) {
        width: 100%;
        gap: 30px;
    }
}

/* ----------------------------------------- */

.mr-featured-properties-cards-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 30px;

    /* cards-section for laptop size */
    @media (max-width:1440px) {
        width: 100%;
        gap: 20px;
    }

    /* cards-section for mobile size */
    @media (max-width:992px) {
        gap: 6px;
        width: 100%;

        /*select the first and second .card elements to hide them*/
        .mr-property-card:nth-child(1),
        .mr-property-card:nth-child(2) {
            display: hidden !important;
        }
    }
}

/* ----------------------------------------- */

.mr-slider-navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-top: 20px;
    border-top: 1px solid hsla(0, 0%, 15%, 1);

    /* slider-navigation-buttons for laptop size */
    @media (max-width:1440px) {
        gap: 10px;
        padding-top: 16px;
        width: 100%;
    }

    /* slider-navigation-buttons for mobile size */
    @media (max-width:992px) {
        width: 100%;
        padding-top: 16px;
        justify-content: space-between !important;
    }
}

/* ----------------------------------------- */